.logo {
    width:200px;
    margin-top:50px;
}

.sleep-form {
    margin-top:50px;

}

.sleep-form-form {
    text-align: left;
}

.submit-button {
    text-align: center;
}

.center {
    text-align: center;
}

.score {
    color: rgb(68, 55, 182);
}